.mat-expansion-panel {
    margin-top: 2px;
    margin-left: 1px;
    margin-bottom: 3px;
}

.mat-expansion-panel-body {
    margin: 0 0 16px 24px;
}

.mat-expansion-panel-header-description {
    flex-grow: 0.2;
}

.mat-expansion-panel:hover {
	/* from .mat-tab-nav-bar.mat-primary .mat-tab-link:focus */
	/*background-color: rgba(209,196,233,.3);*/
}

.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
