<div class="naplo-component">
	<div class="progress-bar-holder">
		<mat-progress-bar [mode]="progressType" [value]="progressValue" *ngIf="loading"></mat-progress-bar>
	</div>
	<!-- 
	<div class="spinner-holder">
		<mat-progress-spinner mode="indeterminate" *ngIf="loading" ></mat-progress-spinner>
	</div>
	-->
	<div>
		<button type="button" (click)="refreshNaplok(true)" mat-raised-button class="align-top">Frissítés</button>
		<div *ngIf="loadError != null" class="inline-block alert alert-danger">
			 <span>{{loadError}}</span>
			 <button type="button" (click)="refreshNaplok(true)" mat-raised-button>Újra</button>
		</div>
	</div>

		<!-- 
  		<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
		-->
 		<mat-expansion-panel *ngFor="let naplo of naplok" [expanded]="true" hasSpacing="true">
   		<mat-expansion-panel-header>
	 		<mat-panel-title>
	   		{{naplo.originalString}}
	 		</mat-panel-title>
			<mat-panel-description>
				&nbsp;<mat-icon (click)="onClickSettings($event,naplo.sorszam)">settings</mat-icon>
			</mat-panel-description>
   		</mat-expansion-panel-header>

  		<mat-expansion-panel *ngFor="let fonaplo of naplo.fonaplok" [expanded]="true" hasSpacing="true">
			<mat-expansion-panel-header>
	  			<mat-panel-title>
				{{fonaplo['originalString']}}
	  			</mat-panel-title>
				<mat-panel-description>
					&nbsp;<mat-icon>settings</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>

	  		<mat-expansion-panel *ngFor="let alnaplo of fonaplo.alnaplok" [expanded]="true" hasSpacing="true">
				<mat-expansion-panel-header>
		  			<mat-panel-title>
					{{alnaplo['originalString']}}
		  			</mat-panel-title>
					<mat-panel-description>
						&nbsp;<mat-icon>settings</mat-icon>
					</mat-panel-description>
				</mat-expansion-panel-header>
			</mat-expansion-panel>
		</mat-expansion-panel>
	</mat-expansion-panel>
</div>
