<div>
	<div class="spinner-holder">
		 <md-progress-spinner
	        class="example-margin"
	        color="primary"
	        mode="indeterminate"
	        *ngIf="loading" 
	        >
	    </md-progress-spinner>
    </div>
	<div *ngIf="loadError != null" class="alert alert-danger">
		 <span>{{loadError}}</span>
		 <button md-raised-button>Újra</button>
    </div>
	<md-list>
 		<md-list-item *ngFor="let naplo of naplok">
			<span>{{naplo.originalString}}</span>
 		</md-list-item>
 	</md-list>
</div>
