/* 
 * Material skin 
 */

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;	
}

/*
 * Material overrides 
 */

mat-row.mat-row:hover {
	/* same as .mat-tab-nav-bar.mat-primary .mat-tab-link:focus */
	background-color: rgba(209,196,233,.3);
}

.spinner-holder {
	width: 100%;
	text-align: center;
}

.spinner-holder .mat-progress-spinner {
    display: inline-block;
}

.progress-bar-holder {
	height: 5px;
}

/*
 * Copied from Bootstrap
 */
 
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*
 * Own generic rules
 */
 
.inline-block {
	display: inline-block;
}

.align-top, .mat-raised-button.align-top {
	vertical-align: top;
}

/* Overrides for the lists */

.naplo-list .mat-expansion-panel {
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 3px;
}

.naplo-list :host ::ng-deep .mat-expansion-panel-body {
    margin: 0px 0px 0px 24px;
}

.naplo-list .mat-expansion-panel-header-description {
    flex-grow: 0.2;
}

.naplo-list .mat-expansion-panel:hover {
	/* from .mat-tab-nav-bar.mat-primary .mat-tab-link:focus */
	/*background-color: rgba(209,196,233,.3);*/
}

.naplo-list .mat-expansion-panel-header-title, 
.naplo-list .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.naplo-list .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.hidden {
	display: none !important;
}

.would-be-hidden, .naplo-list .would-be-hidden .mat-expansion-panel-header-title {
	color: rgba(0,0,0,0.3) !important;
}