<div class="naplo-component naplo-list">
	<div class="progress-bar-holder">
		<mat-progress-bar [mode]="progressType" [value]="progressValue" *ngIf="loading"></mat-progress-bar>
	</div>
	<div>
		<button type="button" (click)="refreshNaplok(true)" mat-raised-button class="align-top">Frissítés</button>
		<mat-button-toggle-group #selectionType="matButtonToggleGroup" (change)="selectionTypeChanged(selectionType.value)" [value]="selectedType">
		  	<mat-button-toggle value="active">
		    	Aktívak
		  	</mat-button-toggle>
		  	<mat-button-toggle value="all">
			    Mind
		  	</mat-button-toggle>
		</mat-button-toggle-group>
	</div>

	<div>
		<mat-expansion-panel 
				*ngFor="let entry of szerepkorNaplok; let orderIndex = index" 
				[ngClass]="mapOfSzerepkorok[entry.getId()]?.hidden ? ( selectedType != 'all' ? 'hidden' : 'would-be-hidden' ) : ''"
				[attr.data-index]="orderIndex" [attr.data-id]="entry.getId()"
				[expanded]="!mapOfSzerepkorok[entry.getId()]?.closed" (closed)="toggleClosed(entry.getId(),true)" (opened)="toggleClosed(entry.getId(),false)"
				draggable="true" (dragenter)="dragHandler.dragenter($event)" (dragstart)="dragHandler.dragstart($event)" (dragend)="dragHandler.dragend($event)"
		>
			<!--   [disableRipple]="true" -->
	   		<mat-expansion-panel-header>
		 		<mat-panel-title>
		   		{{entry.nev}}
		 		</mat-panel-title>
				<mat-panel-description>
					&nbsp;<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
						<mat-icon>more_vert</mat-icon>
					</button>
				</mat-panel-description>
				<mat-menu #menu="matMenu">
				  	<button *ngIf="!mapOfSzerepkorok[entry.azonosito]?.hidden" mat-menu-item (click)="toggleHidden(entry.getId(),true)">Elrejt</button>
				  	<button *ngIf="mapOfSzerepkorok[entry.azonosito]?.hidden" mat-menu-item (click)="toggleHidden(entry.getId(),false)">Felfed</button>
				</mat-menu>
	   		</mat-expansion-panel-header>
	
			<div *ngIf="entry.naplok.length == 0" class="would-be-hidden">
				Nincs hozzárendelt napló.
			</div>
	
			<div class='' *ngFor="let naplo of entry.naplok">
				{{naplo.display}}
			</div>
		</mat-expansion-panel>
	</div>
</div>
